#form-events {

    position: fixed;

    right: 5px;
    top: 5px;

    height: calc(100% - 10px);
    width: 25%;

    background-color: #fff;
    border: 1px solid black;

    input[type="text"], textarea {
        padding: 0;
        width: calc(100% - 4px);
        height: 40px;
        font-size: 18px;

        margin: 5px 0;
    }

    textarea {
        resize: vertical;
        height: 240px;
    }

    #categories {

        label {
            display: flex;
            font-size: 18px;

            span {
                width: 80px;
            }

            input[type="checkbox"] {
                display: none;
            }

            .checkbox {
                width: 10px;
                height: 10px;
                border: 1px solid black;
                cursor: pointer;
            }

            input[type="checkbox"]:checked + .checkbox {
                background-color: rgb(27, 165, 0);
            }
        }

    }

}
#map {

    ul {
        padding-left: 5px;
        list-style: none;
    }
    
    .custom-marker {

        width: 50px;
        height: 50px;
        background-size: cover;
        background-position: center;

        &.bar {
            background-image: url('../assets/images/beer.png');
        }

        &.musique {
            background-image: url('../assets/images/music.png');
        }

        &.art {
            background-image: url('../assets/images/art.png');
        }

        &.sport {
            background-image: url('../assets/images/sport.png');
        }

    }

}
#detail {

    display: none;

    z-index: 10;
    position: fixed;
    top: 50%;
    left: 50%;

    width: 80%;
    height: 80%;

    transform: translateX(-50%) translateY(-50%);

    background-color: #fff;

    &.active {
        display: block;
    }

    span {
        cursor: pointer;
    }

}
// #detail .active
//& #detail.active

#loader {

    background-color: #fff;
    background-image: url('../assets/images/loader.gif');
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;

    position: fixed;
    z-index: 100;

    &.fade {
        opacity: 0;
        transition: opacity 0.5s;
    }
    
    &.hide {
        display: none;
    }

}